<div id="Dad">
    <div id="Title">
        <h1>NOTE-HUB</h1>
    </div>
    <div id="Nav">
        <nav>
            <button *ngIf="!GetHeader()" (click)="AddNote()">New note</button>
            <input type="text" *ngIf="GetHeader()" value="New note" id="InputTitle" autocomplete="off">
            <button *ngIf="GetHeader()" (click)="DeleteNote()">- Delete</button>
        </nav>
    </div>
    <div id="Search">
        <input type="text" placeholder="Search" id="InputSearch" *ngIf="!ButtonSearch()">
        <button *ngIf="ButtonSearch()" (click)="BackButton()">Back</button>
    </div>
</div>