<div id="Dad">
    <div id="Son">

        <form>

            <div id="Title">
                <div id="TitleSon1">
                    <H1>New</H1>
                </div>
                <div id="TitleSon2">
                    <button (click)="Voltar()">X</button>
                </div>
            </div>
            <div id="Options">
                <div id="OptionsSon">
                    <input type="text" name="name" [(ngModel)]="Name" placeholder="Name" maxlength="20">
                    <input type="text" name="category" [(ngModel)]="Category" placeholder="Category" maxlength="20">
                </div>
            </div>
            <div id="Confirm">
                <div id="ConfirmSon">
                    <button (click)="CreateCub()">Create</button>
                </div>
            </div>

        </form>

    </div>
</div>