#Dad{
    display: flex;
    justify-content: center;
    align-items: end;
    height: 10vh;
    width: 100vw;
    margin-bottom: 10px;
}

#Son{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(17, 17, 17);
    color: rgb(71, 71, 71);
}

#Nav{
    position: absolute;
    right: 10%;
    transition: 0.2s;
}

#Nav:hover{
    transform: scale(1.1);
    transition: 0.2s;
    text-decoration: underline;
    text-decoration-color: white;
    text-underline-offset: 0.3rem;
}