<div id="Dad">
    <div id="Son">
        <div id="Cub">
            <div id="Title">
                <p>New Cub</p>
            </div>
            <div id="About">
                <form>
                    <div id="titleform">
                        <input type="text" class="input" placeholder="Typer title" maxlength="10">
                    </div>
                    <div id="aboutform">
                        <input type="text" class="input" placeholder="Typer About" maxlength="40">
                    </div>
                    <div id="submitform">
                        <input type="submit" id="InputSubmit" value="Confirm">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>