*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

:router{
    --Cor1: #000000;
}

body{
    background-color: #000000;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}